* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgba(31, 31, 31, 0.56);
    backdrop-filter: blur(16px);

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

nav ul li .contact_us {
    background: #7761FF;
    border-radius: 100px;
    padding: 13px 24px;
}

.header {
    background-image: url(../image/main_bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header>.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    /* or 56px */

    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 18% 0 104px 0;
}


.partners {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 178px;
}

.partners_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.partners_item .logo_partners {
    height: 90px;
}

.partners_item h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;

    margin-top: 62px;
}

.partners_item span {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;


    margin-top: 13px;
    max-width: 268px;

}

.partners_item:nth-child(2) span {
    max-width: 207px;
}

.partners_item:last-child span {
    max-width: 146px;
}

.more_info_for_partners {
    margin: 145px 0 90px 0;
    background: #4C45A5;
    border-radius: 100px;
    border: none;
    width: max-content;
    padding: 13px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.video_about {
    position: relative;
    max-height: 1021px;
}

.video_about img {
    width: 100%;
}


.filter_block {
    position: absolute;
    width: 100%;
    height: 524px;
    background: linear-gradient(180deg, #11101D 5.53%, rgba(32, 28, 81, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    bottom: 0;
}

.looking_for {
    position: relative;
    background-image: url(../image/looking_bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.filter_block_looking {
    position: absolute;
    width: 916px;
    height: 100%;
    left: -17px;

    background: linear-gradient(180deg, rgba(17, 16, 29, 0.6) 31.17%, rgba(32, 28, 81, 0) 89.39%);
    transform: matrix(0, 1, 1, 0, 0, 0);
}

.looking_for .container {
    padding: 226px 0;
    position: relative;
    z-index: 2;
}

.looking_for h2 {
    max-width: 657px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.looking_for p {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
    margin-top: 31px;
    max-width: 632px;
}

.btn_group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-top: 65px;
}

.btn_group button {
    padding: 13px 24px;

    background: #4C45A5;
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.trusted_by h2 {
    margin-top: 67px;
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;

    letter-spacing: 0.02em;

    color: #000000;
    text-align: center;
}

.list_company {
    margin: 70px auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 0 41px; */
    max-width: 1333px;
    flex-wrap: wrap;
}

.list_company li {
    max-width: 244px;
    display: flex;
    width: 244px;
}

.list_company li img {
    margin: 0 auto;
}


.trusted_by h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.02em;

    color: #000000;
    margin: 70px 0 79px 0;
    text-align: center;
}

.we_offer {
    position: relative;
    background-image: url(../image/we_offer_bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.filter_block_we_offer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(13, 12, 12, 0.35);
}


.we_offer h2 {
    position: relative;
    z-index: 2;
    padding: 208px 0 182px 0;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 90px;

    letter-spacing: 0.02em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.art_services {
    background-color: #1f1f1f;
    position: relative;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.game_development {
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.art_services .container {
    display: flex;
}

.blueviolet {
    color: #7761FF;
}

.art_services_content {
    max-width: 50%;
    position: relative;
    z-index: 2;
}

.art_services_content h3,
.game_development h3 {
    padding-top: 84px;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;

}

.game_development h3 {
    padding-top: 0;
}

.art_services_content h2,
.game_development h2 {
    margin-top: 51px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.art_services_content p,
.game_development p {
    margin-top: 31px;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    width: 97%;
}

.game_development p {
    width: 91%;
}

.art_services_content p:last-child {
    padding-bottom: 123px;
}

.game_development .last_p_game {
    margin-top: 18px;
    width: 80%;
}

.filter_block_art_services {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, #11101D -7.81%, rgba(17, 16, 18, 0) 89.39%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.art_services_image {
    max-width: 50%;
    width: 100%;
    position: relative;
}

.art_services_image img {
    position: absolute;
}

.art_services_image .art_image_white {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    bottom: 0;
    left: 0;
}

.art_services_image .art_image_black {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
    bottom: 0;
    right: -20%;
}

.game_development {
    background-image: url(../image/game_development_bg.jpeg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    position: relative;
}

.filter_block_game {
    position: absolute;
    top: 0;
    width: 97%;
    height: 100%;

    background: rgb(26, 26, 32);
    background: linear-gradient(90deg, rgba(26, 26, 32, 1) 39.97%, rgba(20, 20, 22, 0) 86.47%);

    /* background: linear-gradient(180deg, #1A1A20 39.97%, rgba(20, 20, 22, 0) 86.47%);
transform: matrix(0, 1, 1, 0, 0, 0); */
}

.game_development .container {
    position: relative;
    z-index: 2;
}

.game_development_content {
    padding: 92px 0;
    max-width: 50%;
}

.services_group {
    margin-top: 67px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 52px;
}

.devoted_production_content {
    padding: 161px 0 141px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.facts {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 63px;
    max-width: 44%;
}

.facts_item:last-child {
    max-width: 90%;
}

.facts_item div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 23px;
}

.facts_item h4 {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #141313;
}

.facts_item p {
    margin: 31px 0 0 71px;
    max-width: 400px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.02em;

    color: #141313;
}

.devoted_production_description {
    max-width: 600px;
    position: relative;
}

.devoted_production_description h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    letter-spacing: 0.02em;

    color: #141313;
}

.devoted_production_description p {
    width: 97%;
    margin-top: 31px;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;

    letter-spacing: 0.02em;

    color: #141313;
}

.devoted_production_description button {
    margin-top: 65px;
    background: #4C45A5;
    border-radius: 100px;
    border: none;
    padding: 13px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #fff;
}

.devoted_production_description img {
    position: absolute;
}

.sketch_first {
    left: -34%;
    top: 54%;
}

.sketch_second {
    left: -95%;
    top: 60%;
}

.reviews {
    background-color: #4C45A5;

}

.swiper {
    max-width: 1248px;
    padding: 168px 0 199px 0;
}

.slide_content {
    max-width: 697px;
    margin: 0 auto;
}

.review_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.review_info h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.review_info p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.review_text {
    margin-top: 48px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.swiper-horizontal>.swiper-pagination-bullets {

    bottom: 134px;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #c4c4c4;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '';
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: -6px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: -6px;
}


.map {
    display: flex;
}

.map img {
    width: 100%;
}

.global_talent {
    position: relative;
    background-color: #1f1f1f;
}

.filter_block_global {
    position: absolute;
    max-width: 798px;
    width: 100%;
    height: 100%;
    background: rgb(26, 26, 32);
    background: linear-gradient(90deg, rgba(26, 26, 32, 1) 43.85%, rgba(20, 20, 22, 0) 80.35%);
}

.global_talent_content {
    position: relative;
    z-index: 2;
    padding: 99px 0 78px 0;
    max-width: 39%;
}


.global_talent_content h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.global_talent_content p {
    margin-top: 31px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.global_talent_content button {
    margin-top: 60px;
    padding: 13px 24px;
    background: #4C45A5;
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.group_img img {
    position: absolute;
}

.global_red {
    top: -1px;
    right: 0;
}

.global_blue {
    top: -5px;
    right: 15px;
}

.girl {
    top: 0;
    right: 550px;
}

footer {
    background-color: #121031;
    position: relative;
    z-index: 2;
}

footer .container {
    padding: 124px 0 215px 119px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .social{
    list-style-type: none;
    margin-top: 49px;
    display: flex;
    align-items: center;
    gap: 29px;
}

footer .social a{
    display: flex;
}

footer .social a img{
    width: 24px;
}

footer .social li:first-child a img{
    width: 34px;
}

.footer_links{
    display: flex;
    align-items: flex-start;
}

.footer_links ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.footer_links .blog{
    margin: 0 71px 0 149px;
}

.footer_links ul a{
    text-decoration: none;
    display: flex;
    font-weight: 400;
font-size: 20px;
line-height: 27px;

letter-spacing: 0.02em;

color: #FFFFFF;
}

.footer_links ul .b{
    font-weight: 700;
}

.contacts{
    margin-top: 203px;
}

.contacts p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    text-align: left;
    letter-spacing: 0.02em;

    color: #9F9F9F;
}

.white {
    color: #fff;
}

.socials {
    display: flex;
    gap: 8px;
} 

@media screen and (max-width:1721px) {
    .sketch_first {
        width: 139%;
    }

    .sketch_second {
        width: 100%;
        left: -74%;
        top: 80%;
    }

    .girl {
        display: none;
    }

}

@media screen and (max-width:1600px) {
    .container {
        max-width: 1280px;
    }

    h2 {
        font-size: 34px !important;
        line-height: 44px !important;
    }

}