body {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
}

a {
    text-decoration: none !important;
    color: #fff;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

header {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgba(31, 31, 31, 0.56);
    backdrop-filter: blur(16px);
    transition: .5s;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

nav {
    display: flex;
    gap: 30px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

nav ul li a,
nav .contacts_us {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

nav .contact_us {
    background: #7761FF;
    border-radius: 100px;
    padding: 13px 24px;
    font-weight: 700;
    font-size: 12px;
    line-height: 114%;
    /* identical to box height, or 14px */

    letter-spacing: 0.02em;
    transition: .5s;
}

.header {
    background-image: url(../image/main_bg.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header>.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
    /* or 56px */

    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 18% 0 104px 0;
}


.partners {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 178px;
}

.partners_item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.partners_item .logo_partners {
    height: 90px;
}

.partners_item h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;

    margin-top: 62px;
}

.partners_item span {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;


    margin-top: 13px;
    max-width: 268px;

}

.partners_item:nth-child(2) span {
    max-width: 207px;
}

.partners_item:last-child span {
    max-width: 146px;
}

.more_info_for_partners {
    margin: 145px 0 90px 0;
    background: #4C45A5;
    border-radius: 100px;
    border: none;
    width: max-content;
    padding: 13px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.video_about {
    position: relative;
    max-height: 1021px;
}

.video_about video {
    display: flex;
    width: 100%;
}

.filter_block {
    position: absolute;
    width: 100%;
    height: 524px;
    background: linear-gradient(180deg, #11101D 5.53%, rgba(32, 28, 81, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    bottom: 0;
}

.looking_for {
    position: relative;
    background-image: url(../image/looking_bg.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.filter_block_looking {
    position: absolute;
    width: 92%;
    height: 100%;
    left: -17px;
    background: rgb(17, 16, 29);
    background: linear-gradient(90deg, rgba(17, 16, 29, 0.6) 31.17%, rgba(32, 28, 81, 0) 89.39%);
}

.looking_for .container {
    padding: 226px 0;
    position: relative;
    z-index: 2;
}

.looking_for h2 {
    max-width: 657px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.looking_for p {
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
    margin-top: 31px;
    max-width: 632px;
}

.btn_group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin-top: 65px;
}

.btn_group button {
    padding: 13px 24px;

    background: #4C45A5;
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.trusted_by h2 {
    margin-top: 67px;
    font-weight: 700;
    font-size: 48px;
    line-height: 67px;

    letter-spacing: 0.02em;

    color: #000000;
    text-align: center;
}

.list_company_slider {
    display: none;
}

.list_company {
    margin: 70px auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 0 41px; */
    max-width: 1333px;
    flex-wrap: wrap;
}

.list_company li {
    max-width: 244px;
    display: flex;
    width: 244px;
}

.list_company li img {
    margin: 0 auto;
}


.trusted_by h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.02em;

    color: #000000;
    margin: 70px 0 79px 0;
    text-align: center;
}

.we_offer {
    position: relative;
    background-image: url(../image/we_offer_bg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.filter_block_we_offer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(13, 12, 12, 0.35);
}


.we_offer h2 {
    position: relative;
    z-index: 2;
    padding: 208px 0 182px 0;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    line-height: 90px;

    letter-spacing: 0.02em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.art_services {
    overflow-x: hidden;
    background-color: #1f1f1f;
    position: relative;
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.game_development {
    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.game_contact_us,
.services_group_mobile {
    display: none;
}

.art_services .container {
    display: flex;
    /*  */
}

.art_contact_us {
    display: none;
}

.blueviolet {
    color: #7761FF;
}

.art_services_content {
    max-width: 50%;
    position: relative;
    z-index: 2;
}

.art_services_content h3,
.game_development h3 {
    padding-top: 84px;
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    text-transform: uppercase;

}

.game_development h3 {
    padding-top: 0;
}

.art_services_content h2,
.game_development h2 {
    margin-top: 51px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
}

.art_services_content p,
.game_development p {
    margin-top: 31px;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    width: 97%;
}

.game_development p {
    width: 91%;
}

.art_services_content p:last-child {
    padding-bottom: 123px;
}

.game_development .last_p_game {
    margin-top: 18px;
    width: 80%;
}

.filter_block_art_services {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, #11101D -7.81%, rgba(17, 16, 18, 0) 89.39%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.art_services_image {
    max-width: 50%;
    width: 100%;
    position: relative;
}

.art_services_image img {
    position: absolute;
}

.art_services_image .art_image_white {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    bottom: 0;
    left: 0;
}

.art_services_image .art_image_black {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
    bottom: 0;
    right: -20%;
}

.game_development {
    background-image: url(../image/game_development_bg.jpeg);
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    position: relative;
}

.filter_block_game {
    position: absolute;
    top: 0;
    width: 97%;
    height: 100%;

    background: rgb(26, 26, 32);
    background: linear-gradient(90deg, rgba(26, 26, 32, 1) 39.97%, rgba(20, 20, 22, 0) 86.47%);

    /* background: linear-gradient(180deg, #1A1A20 39.97%, rgba(20, 20, 22, 0) 86.47%);
transform: matrix(0, 1, 1, 0, 0, 0); */
}

.game_development .container {
    position: relative;
    z-index: 2;
}

.game_development_content {
    padding: 92px 0;
    max-width: 50%;
}

.services_group {
    margin-top: 67px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 52px;
}

.devoted_production {
    position: relative;
}

.devoted_production_content {
    padding: 161px 0 141px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.facts {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 63px;
    max-width: 44%;
}

.facts_item:last-child {
    max-width: 90%;
}

.facts_item div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 23px;
}

.facts_item h4 {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;

    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #141313;
}

.facts_item p {
    margin: 31px 0 0 71px;
    max-width: 400px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.02em;

    color: #141313;
}

.devoted_production_description {
    max-width: 600px;
    position: relative;
}

.devoted_production_description h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    letter-spacing: 0.02em;

    color: #141313;
}

.devoted_production_description p {
    width: 97%;
    margin-top: 31px;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;

    letter-spacing: 0.02em;

    color: #141313;
}

.devoted_production_description button {
    margin-top: 65px;
    background: #4C45A5;
    border-radius: 100px;
    border: none;
    padding: 13px 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #fff;
}

.devoted_production_description img {
    position: absolute;
}

.sketch_first {
    position: absolute;
    right: 88px;
    bottom: -178px
}

.sketch_second {
    position: absolute;
    right: 414px;
    bottom: -219px;
}

.reviews {
    background-color: #4C45A5;

}

.swiper {
    max-width: 1248px;
    padding: 168px 0 199px 0;
}

.slide_content {
    max-width: 697px;
    margin: 0 auto;
}

.review_info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.review_info h5 {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.review_info p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.review_text {
    margin-top: 48px;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.swiper-horizontal>.swiper-pagination-bullets {

    bottom: 134px;
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #c4c4c4;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '';
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '';
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: -6px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: -6px;
}


.map {
    display: flex;
}

.map img {
    width: 100%;
}

.global_talent {
    position: relative;
    background-color: #1f1f1f;
}

.filter_block_global {
    position: absolute;
    max-width: 798px;
    width: 100%;
    height: 100%;
    background: rgb(26, 26, 32);
    background: linear-gradient(90deg, rgba(26, 26, 32, 1) 43.85%, rgba(20, 20, 22, 0) 80.35%);
}

.global_talent_content {
    position: relative;
    z-index: 2;
    padding: 99px 0 78px 0;
    max-width: 39%;
}


.global_talent_content h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.global_talent_content p {
    margin-top: 31px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.global_talent_content button {
    margin-top: 60px;
    padding: 13px 24px;
    background: #4C45A5;
    border-radius: 100px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.group_img img {
    position: absolute;
}

.global_red {
    top: -1px;
    right: 0;
}

.global_blue {
    top: -5px;
    right: 15px;
}

.girl {
    top: 0;
    right: 550px;
}

footer {
    background-color: #121031;
    position: relative;
    z-index: 2;
}

footer .container {
    padding: 124px 0 215px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

footer .social {
    list-style-type: none;
    margin-top: 49px;
    display: flex;
    align-items: center;
    gap: 29px;
}

footer .social a {
    display: flex;
}

footer .social a img {
    width: 24px;
}

footer .social li:first-child a img {
    width: 34px;
}



.footer_links {
    display: flex;
    align-items: flex-start;
}

.footer_links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 31px;
}

.footer_links .blog {
    margin: 0 71px 0 149px;
}

.footer_links ul a {
    text-decoration: none;
    display: flex;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    letter-spacing: 0.02em;

    color: #FFFFFF;
}

.b {
    font-weight: 700;
}

.contacts {
    margin-top: 203px;
}

.contacts p {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    text-align: left;
    letter-spacing: 0.02em;

    color: #9F9F9F;
}

.white {
    color: #fff;
}

.socials {
    display: flex;
    gap: 8px;
}

.burger {
    display: none;
}

@media screen and (max-width:1830px) {

    .sketch_second,
    .sketch_first {
        height: 75%;
    }
}

@media screen and (max-width:1721px) {


    .girl {
        top: 16%;
        right: 550px;
        width: 35%;
    }



}

@media screen and (max-width:1621px) {
    .container {
        max-width: 1230px;
    }

    .art_services_image .art_image_black {
        width: 547px;
    }

    .art_services_image .art_image_white {
        width: 418px;
    }

    .sketch_second {
        left: -55%;
    }

    .global_red {
        display: none;
    }

    .global_blue {
        display: none;
    }

    .girl {
        top: 22%;
        right: 0;
        width: 50%;
    }
}


@media screen and (max-width:1281px) {
    .container {
        max-width: 972px;
    }

    .header {
        background-attachment: local;
        background-position: center;
    }

    .logo_link img {
        width: 123px;
    }

    .header h1 {
        margin: 226px 0 65px 0;
        width: 80%;
    }

    .partners {
        gap: 72px;
    }

    .more_info_for_partners {
        margin: 124px 0 167px 0;
    }

    .looking_for .container {
        padding: 210px 0 218px 0;
        margin-left: 76px;
    }

    .filter_block_looking {
        left: -60px;
    }

    .looking_for h2 {
        font-size: 40px;
        line-height: 48px;
    }

    .looking_for p {
        font-size: 16px;
        line-height: 26px;
    }

    .trusted_by h2 {
        margin-top: 53px;
        font-size: 40px;
        line-height: 56px;
    }

    .trusted_by h5 {
        margin: 48px 0 65px 0;
    }

    .list_company {
        max-width: 848px;
    }

    .list_company li {
        max-width: 142px;
        display: flex;
        width: 100%;
    }

    .list_company li img {
        width: 100%;
    }

    .we_offer h2 {
        padding: 82px 0;
    }

    .art_services_content h3,
    .game_development h3 {
        padding-top: 58px;
        font-size: 22px;
        line-height: 31px;
    }

    .art_services_content h2,
    .game_development h2 {
        margin-top: 36px;
        font-size: 40px;
        line-height: 48px;
    }


    .art_services_content {
        max-width: 80%;
    }

    .art_services_content p,
    .game_development p {
        font-size: 16px;
        line-height: 26px;
        width: 75%;
    }

    .art_services_image .art_image_black {
        right: -25%;
    }

    .art_services_image .art_image_white {
        left: -80%;
    }

    .game_development_content {
        padding: 58px 0 89px 0;
        max-width: 63%;
    }

    .services_group {
        margin-top: 61px;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 44px;
    }

    .devoted_production_content {
        padding: 83px 0 240px 0;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }

    .devoted_production_description {
        max-width: 54%;
    }

    .devoted_production_description p {
        font-size: 16px;
        line-height: 26px;
        width: 86%;
    }

    .sketch_first {
        height: 42%;
    }

    .sketch_second {
        display: none;
    }

    .facts {
        margin-top: 83px;
        max-width: 71%;
    }



    .global_talent_content h2 {
        font-size: 40px;
        line-height: 48px;
    }

    .global_talent_content {
        position: relative;
        padding: 46px 0 64px 0;
    }

    .global_talent_content p {
        margin-top: 40px;
        font-size: 16px;
        line-height: 22px;
    }

    .global_talent_content button {
        margin-top: 65px;
    }

    footer .container {
        padding: 50px 0;
    }

    .footer_links {
        display: none;
    }


    .group_info {
        display: flex;
        flex-direction: row-reverse;
        gap: 60px;
    }

    .contacts p {
        text-align: center;
        font-size: 12px;
        line-height: 17px;
    }

    footer .social {
        margin-top: 0;
        gap: 15px;
    }

    .contacts {
        margin-top: 0;
    }

    .links_social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width:1023px) {
    .container {
        max-width: 758px;
    }

    nav,
    nav ul {
        gap: 15px;
    }

    .header h1 {
        margin: 186px 0 65px 0;
    }

    .more_info_for_partners {
        margin: 84px 0;
    }

    .girl {
        top: 14%;
        right: -10%;
        width: 60%;
    }

    .global_talent_content {
        max-width: 55%;
    }


    .sketch_first {
        height: 29%;
    }

    .art_services_image .art_image_white {
        display: none;
    }
}

@media screen and (max-width:940px) {
    .girl {
        top: 24%;
    }
}



@media screen and (max-width:768px) {
    .container {
        max-width: 92%;
    }

    .header>.container {
        display: none;
    }

    nav {
        flex-direction: row-reverse;
        align-items: center;
    }

    nav ul {
        display: none;
    }

    .burger {
        width: 36px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        transition: .3s;
    }

    .burger:hover {
        cursor: pointer;
        transition: .3s;
    }

    .burger span {
        width: 36px;
        height: 3px;
        background-color: #fff;
        border-radius: 15px;
        transition: .3s;
    }

    .burger span:nth-child(2) {
        width: 22.5px;
        transition: .3s;
    }

    .burger span:last-child {
        width: 9px;
        transition: .3s;
    }

    .video_about {
        display: none;
    }

    .filter_block_looking {
        width: 100%;
        left: 0;
    }

    .looking_for {
        background-attachment: local;
    }

    .looking_for .container {
        padding: 180px 0 165px 0;
        margin-left: 0;
        margin: auto;
    }

    .looking_for h2 {
        max-width: 92%;
        font-size: 32px;
        line-height: 38px;
    }

    .looking_for h2 span {
        color: #7761FF;
    }

    .looking_for p {
        max-width: 88%;
        font-size: 12px;
        line-height: 19px;
        margin-top: 23px;
    }

    .btn_group {
        align-items: flex-start;
        margin-top: 45px;
        flex-direction: column;
    }

    .btn_group button:last-child {
        background: none;
        border: 2px solid #7761FF;
        width: 225px;
    }

    .trusted_by h2 {
        margin-top: 51px;
        font-size: 32px;
        line-height: 45px;
    }

    .trusted_by h5 {
        font-size: 18px;
        line-height: 25px;
        margin: 37px 0 46px 0;
    }

    .list_company {
        display: none;
    }

    .list_company_slider {
        max-width: 100%;
        margin-top: 31px;
        padding: 0;
        display: block;
    }

    .list_company_slider .slide_content ul {
        margin: 0 auto;
        max-width: 315px;
        list-style-type: none;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 47px 35px;
    }

    .list_company_slider .slide_content ul li {
        max-width: 140px;
    }

    .list_company_slider .slide_content ul li img {
        width: 100%;
        height: 85px;
    }

    .list_company_slider .swiper-button-next {
        width: 29px;
        height: 29px;
        background-color: #7761FF;
        border-radius: 50%;
        right: 11px;
    }

    .list_company_slider .swiper-button-prev {
        width: 29px;
        height: 29px;
        background-color: #7761FF;
        border-radius: 50%;
        left: 11px;
    }

    .we_offer h2 {
        padding: 29px 0;
        font-size: 32px;
        line-height: 45px;
    }

    .art_services .container {
        flex-direction: column;
    }

    .art_services_content {
        max-width: 100%;
    }

    .art_services_content p,
    .game_development p {
        font-size: 12px;
        line-height: 19px;
        width: 87%;
    }

    .art_services_content p:last-child {
        display: none;
    }

    .game_development .last_p_game {
        display: none;
    }

    .services_group {
        display: none;
    }

    .services_group_mobile {
        display: flex;
        gap: 15px;
        margin-top: 36px;
    }

    .art_contact_us,
    .game_contact_us {
        display: block;
        width: max-content;
        text-decoration: none;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        background: #7761FF;
        border-radius: 100px;
        padding: 13px 24px;
        margin: 49px 0 298px 0;
    }

    .game_development_content {
        padding: 0 0 53px 0;
        max-width: 100%;
    }

    .game_contact_us {
        margin: 36px 0 0 0;
    }

    .art_services_content h3,
    .game_development h3 {
        padding-top: 52px;
        font-size: 16px;
        line-height: 22px;
    }

    .art_services_content h2,
    .game_development h2 {
        margin-top: 18px;
        font-size: 32px;
        line-height: 38px;
    }

    .art_services_image .art_image_black {
        left: 100%;
        width: 365px;
    }

    .art_services_image .art_image_white {
        display: block;
        width: 313px;
        left: 0;
        z-index: 1;
    }

    .filter_block_art_services {
        display: none;
    }

    .devoted_production_content {
        padding: 51px 0 216px 0;
    }

    .devoted_production_description h2 {
        font-size: 38px;
        line-height: 48px;
    }

    .devoted_production_description p {
        font-size: 12px;
        line-height: 19px;
        width: 81%;
    }

    .devoted_production_description button {
        margin-top: 45px;
    }

    .devoted_production_description {
        max-width: 100%;
    }

    .sketch_first {
        height: 280px;
        right: 46px;
        bottom: -85px;
    }

    .sketch_second {
        display: block;
        height: 280px;
        right: 170px;
        left: auto;
        bottom: -100px;
    }

    .facts {
        gap: 40px;
        margin-top: 60px;
        max-width: 80%;
    }

    .facts_item h4 {
        font-size: 16px;
        line-height: 22px;
    }

    .facts_item div img {
        width: 42px;
    }

    .facts_item p {
        margin: 20px 0 0 71px;
        font-size: 12px;
        line-height: 17px;
    }






    .mySwiper {
        padding: 93px 0;
    }

    .mySwiper .swiper-button-prev,
    .mySwiper .swiper-button-next {
        display: none;
    }

    .mySwiper .slide_content {
        max-width: 261px;
    }

    .swiper-horizontal>.swiper-pagination-bullets {
        bottom: 42px;
    }

    .review_text {
        margin-top: 50px;
        font-size: 14px;
        line-height: 20px;
    }

    .review_info {
        gap: 15px;
    }

    .review_info p {
        font-size: 12px;
        line-height: 17px;
    }

    .review_info img {
        width: 56px;
    }

    .global_talent_content {
        max-width: 84%;
    }

    .global_talent_content h2 {
        font-size: 32px;
        line-height: 38px;
    }

    .global_talent_content {
        padding: 52px 0;
    }

    .global_talent_content p {
        margin-top: 18px;
        font-size: 12px;
        line-height: 17px;
    }

    .global_talent_content button {
        margin-top: 33px;
    }

    .group_img {
        position: relative;
    }


    .girl {
        left: -9%;
        position: relative !important;
    }

    .global_red {
        display: block;
        top: 3%;
        height: 97%;
    }

    .global_blue {
        display: block;
        top: 2%;
        height: 100%;
    }



    .group_info {
        flex-direction: column-reverse;
        align-items: center;
        gap: 43px;
    }

    .links_social {
        flex-direction: column;
        gap: 43px;
    }

    footer .container {
        padding: 45px 0;
    }

    nav ul {
        display: none
    }

    nav {
        position: relative;
        width: 100%;
    }

    .opacity_null{
        opacity: 0;
        transition: .5s;
    }

.update_color{
    background: rgba(18, 16, 49, 0.9);
    backdrop-filter: blur(10px); 
}
    .burger_menu {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100vw;
        text-align: center;
        font-size: 22px;
        line-height: 252%;
        text-align: center;
        letter-spacing: 0.02em;
        background: rgba(18, 16, 49, 0.9);
        backdrop-filter: blur(10px);
        padding: 0 0 30px 0;
        transform: translateY(-111%);
        transition: .7s;
    }

    .burger_menu_active{
        transform: translateY(0);
        transition: .7s; 
    }

    .burger_menu .contact_us {
        background: #7761FF;
        border-radius: 100px;
        width: 130px;
        height: 40px;
        margin: 0 auto;
        font-weight: 700;
        font-size: 12px;
        line-height: 114%;
        /* identical to box height, or 14px */

        letter-spacing: 0.02em;

        color: #FFFFFF;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger_menu a {
        display: block;
    }
}






.burger_active {
    position: relative;
    transition: .3s;
}

.burger_active span:first-child {
    transform: rotate(45deg);
    transition: .3s;
}

.burger_active span:nth-child(2) {
    width: 36px;
    transform: rotate(-45deg);
    transition: .3s;
}

.burger_active span:last-child {
    display: none;
    transition: .3s;
}

.burger_active span {
    position: absolute;
    top: 14px;
    transition: .3s;
}




@media screen and (max-width: 603px) {
    .art_services_image .art_image_black {
        left: 55%;
        width: 365px;
    }

    .art_services_image .art_image_white {
        left: -22%;
    }
}